@model CreativeFactory.Web.Models.MainPageViewModel
@{
    ViewBag.Title = "Welcome to CreativeFactory!";
}

<div class="col-md-8">
    @Html.Partial("~/Views/Shared/_PopularArticles.cshtml", Model.PopularArticles)
</div>
<div id="tags" class="col-md-4">
    @{
        Html.RenderPartial("~/Views/Shared/_TagCloud.cshtml", Model.TagCloud);
        Html.RenderPartial("~/Views/Shared/_ActivityDiagram.cshtml");
    }
</div>



