@model PagedList.IPagedList<CreativeFactory.Web.Models.ArticleUnitViewModel>
@using PagedList.Mvc

@{
    ViewBag.Title = @Resources.TaggedArticles + " '" + ViewBag.Tag.Name + "'" ;
}

<div class="page-header center">
  <h1>@ViewBag.Title</h1>
</div>

@if (Model.Count > 0)
{
    foreach (var item in Model)
    {
        Html.RenderPartial("~/Views/Shared/_ArticlesList.cshtml", item);
    }
}
else
{
    <h3 class="center">@Resources.NoArticlesFound</h3>
}

@Html.PagedListPager(Model
                        , page => Url.Action("Index", "Tag"
                        , new RouteValueDictionary {{"id", ViewBag.Tag.Id}, {"page", page}})
                        , PagedListRenderOptions.PageNumbersOnly)